In [3]:
import csv
import sys,os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt 
from matplotlib.colors import rgb2hex, Normalize
from matplotlib.cm import ScalarMappable
from matplotlib.patches import Polygon
from matplotlib.colorbar import ColorbarBase
import seaborn as sns
from pandas import DataFrame
%matplotlib inline
import pylab
from pylab import *
import sklearn
from sklearn import tree, ensemble
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [78]:
orders = pd.read_csv('orders.txt', sep='\t',index_col=0)
zipcensus = pd.read_csv('zipcensus.txt', sep='\t', index_col=0)
zipcounty = pd.read_csv('zipcounty.txt', sep='\t', index_col=0, encoding='latin-1')
customer = pd.read_csv('customer.txt', sep='\t',index_col=0)
zipcensus.head(1)

,state,population,housingunits,landareameters,waterareameters,landareamiles,waterareamiles,latitude,longitude,numstates,...,hhuofuelnone,hhuoplumbingcomplete,hhuoplumbinglacking,hhumediancashrent,hhunmarried,hhunmarriedmm,hhunmarriedmf,hhunmarriedff,hhunmarriedfm,hhother
zipcode,,,,,,,,,,,,,,,,,,,,,
601,PR,19143,6715,172731389,1082233,66.691965,0.417853,18.180103,-66.749472,1,...,0.622561,0.948771,0.051229,214,0.024936,0.001866,0.010178,0.009839,0.003053,0.978456

In [16]:
#Tworzymy tabelę łączoną orders_rozsz i customer, połączone za pomocą klucza customerid.
OrdersCustomer = orders.join(customer, on='customerid')
OrdersCustomer.head(1)

,customerid,campaignid,orderdate,city,state,zipcode,paymenttype,totalprice,numorderlines,numunits,householdid,gender,firstname
orderid,,,,,,,,,,,,,
1002854,45978,2141,13.10.2009 00:00,NEWTON,MA,2459,VI,190.0,3,3,18991234.0,M,LOUIS

In [31]:
#OrdersCustomerZipcensus = OrdersCustomer.join(zipcensus, on='zipcode')
OrdersCustomerZipcensus = pd.concat([OrdersCustomer, zipcensus], sort=False)
OrdersCustomerZipcensus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225021 entries, 1002854 to 99950
Columns: 124 entries, customerid to hhother
dtypes: float64(114), object(10)
memory usage: 214.6+ MB

In [34]:
#OrdersCustomerZipcensus = OrdersCustomer.join(zipcensus, on='zipcode')
OrdersCustomerZipcensus = pd.concat([orders, customer, zipcensus], sort=False)
df1 = OrdersCustomerZipcensus['orderid', 'zipcode', 'paymenttype', 'totalprice', 'numunits', 'city', 'state', 'hhmedincome', 'purban', 'gender']
df1.head(1)

KeyError: ('orderid', 'zipcode', 'paymenttype', 'totalprice', 'numunits', 'city', 'state', 'hhmedincome', 'purban', 'gender')

In [59]:
NewData1 = DataFrame(OrdersCustomerZipcensus, columns=['zipcode', 'paymenttype', 'totalprice', 'numunits', 'city', 'state', 'hhmedincome', 'purban', 'gender'])
NewData

,zipcode,paymenttype,totalprice,numunits,city,state,hhmedincome,purban,gender
1002854,2459,VI,190.00,3.0,NEWTON,MA,NaN,NaN,NaN
1002855,10804,VI,10.00,1.0,NEW ROCHELLE,NY,NaN,NaN,NaN
1002856,33137,AE,35.22,2.0,MIAMI,FL,NaN,NaN,NaN
1002857,7073,AE,10.00,1.0,E RUTHERFORD,NJ,NaN,NaN,NaN
1002886,21218,VI,10.00,1.0,BALTIMORE,MD,NaN,NaN,NaN
1002887,6853,AE,10.00,1.0,ROWAYTON,CT,NaN,NaN,NaN
1002888,46240,VI,10.00,1.0,INDIANAPO11,IN,NaN,NaN,NaN
1002889,10570,MC,10.00,1.0,PLEASANTVILLE,NY,NaN,NaN,NaN
1002890,18301,DB,29.68,2.0,EAST STROUDSBURG,PA,NaN,NaN,NaN
1003004,60073,DB,19.68,1.0,ROUND LAKE PARK,IL,NaN,NaN,NaN
1003044,7003,AE,10.00,1.0,BLOOMFIELD,NJ,NaN,NaN,NaN
1003045,62704,MC,10.00,1.0,SPRINGFIELD,IL,NaN,NaN,NaN
1003046,76710,MC,17.05,1.0,WACO,TX,NaN,NaN,NaN
1003075,7004,MC,59.80,4.0,FAIRFIELD,NJ,NaN,NaN,NaN
1003076,11228,AE,22.05,1.0,BROOKLYN,NY,NaN,NaN,NaN
1003077,87505,MC,24.95,2.0,SANTA FE,NM,NaN,NaN,NaN
1003490,7039,DB,0.00,2.0,LIVINGSTON,NJ,NaN,NaN,NaN
1003491,33445,VI,18.00,1.0,DELRAY BEACH,FL,NaN,NaN,NaN
1003492,19460,OC,20.00,2.0,PHOENIXVILLE,PA,NaN,NaN,NaN
1003493,10312,MC,34.90,3.0,STATEN ISLAND,NY,NaN,NaN,NaN
1003494,11942,MC,36.00,2.0,EAST QUOGUE,NY,NaN,NaN,NaN
1003495,10022,AE,30.00,3.0,NEW YORK,NY,NaN,NaN,NaN
1003496,96825,OC,30.00,3.0,HONOLULU,HI,NaN,NaN,NaN
1003720,8807,AE,22.05,1.0,BRIDGEWATER,NJ,NaN,NaN,NaN
1003721,11001,VI,19.12,1.0,FLORAL PARK,NY,NaN,NaN,NaN
1003722,14607,MC,10.00,1.0,ROCHESTER,NY,NaN,NaN,NaN
1003723,11554,VI,24.95,2.0,EAST MEADOW,NY,NaN,NaN,NaN
1003724,11937,VI,18.00,1.0,EAST HAMPTON,NY,NaN,NaN,NaN
1003753,78209,MC,18.00,1.0,SAN ANTONIO,TX,NaN,NaN,NaN
1003754,10010,AE,22.05,1.0,NEW YORK,NY,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
99786,NaN,NaN,NaN,NaN,NaN,AK,43500.0,0.000000,NaN
99788,NaN,NaN,NaN,NaN,NaN,AK,16250.0,0.000000,NaN
99789,NaN,NaN,NaN,NaN,NaN,AK,48036.0,0.000000,NaN
99791,NaN,NaN,NaN,NaN,NaN,AK,66607.0,0.000000,NaN
99801,NaN,NaN,NaN,NaN,NaN,AK,63197.0,0.803732,NaN
99820,NaN,NaN,NaN,NaN,NaN,AK,29861.0,0.000000,NaN
99824,NaN,NaN,NaN,NaN,NaN,AK,51618.0,1.000000,NaN
99825,NaN,NaN,NaN,NaN,NaN,AK,32031.0,0.000000,NaN
99826,NaN,NaN,NaN,NaN,NaN,AK,34766.0,0.000000,NaN
99827,NaN,NaN,NaN,NaN,NaN,AK,40321.0,0.000000,NaN
99829,NaN,NaN,NaN,NaN,NaN,AK,43056.0,0.000000,NaN
99830,NaN,NaN,NaN,NaN,NaN,AK,39643.0,0.000000,NaN
99832,NaN,NaN,NaN,NaN,NaN,AK,48125.0,0.000000,NaN
99833,NaN,NaN,NaN,NaN,NaN,AK,49415.0,0.805075,NaN
99835,NaN,NaN,NaN,NaN,NaN,AK,52315.0,0.833866,NaN
99840,NaN,NaN,NaN,NaN,NaN,AK,49375.0,0.000000,NaN
99841,NaN,NaN,NaN,NaN,NaN,AK,33125.0,0.000000,NaN
99850,NaN,NaN,NaN,NaN,NaN,AK,16250.0,0.000000,NaN
99901,NaN,NaN,NaN,NaN,NaN,AK,51563.0,0.767240,NaN
99903,NaN,NaN,NaN,NaN,NaN,AK,63750.0,0.000000,NaN
99918,NaN,NaN,NaN,NaN,NaN,AK,41875.0,0.000000,NaN
99919,NaN,NaN,NaN,NaN,NaN,AK,45625.0,0.000000,NaN
99921,NaN,NaN,NaN,NaN,NaN,AK,47107.0,0.000000,NaN
99922,NaN,NaN,NaN,NaN,NaN,AK,31625.0,0.000000,NaN
99923,NaN,NaN,NaN,NaN,NaN,AK,11719.0,0.000000,NaN
99925,NaN,NaN,NaN,NaN,NaN,AK,36328.0,0.000000,NaN
99926,NaN,NaN,NaN,NaN,NaN,AK,43516.0,0.000000,NaN
99927,NaN,NaN,NaN,NaN,NaN,AK,17143.0,0.000000,NaN
99929,NaN,NaN,NaN,NaN,NaN,AK,43696.0,0.000000,NaN
99950,NaN,NaN,NaN,NaN,NaN,AK,37708.0,0.000000,NaN

In [29]:
NewData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225021 entries, 1002854 to 99950
Data columns (total 10 columns):
orderid        0 non-null float64
zipcode        192837 non-null object
paymenttype    192983 non-null object
totalprice     192983 non-null float64
numunits       192983 non-null float64
city           192964 non-null object
state          223902 non-null object
hhmedincome    32038 non-null float64
purban         32038 non-null float64
gender         173355 non-null object
dtypes: float64(5), object(5)
memory usage: 18.9+ MB

In [40]:
NewData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 414580 entries, 1002854 to 99950
Data columns (total 9 columns):
zipcode        192837 non-null object
paymenttype    192983 non-null object
totalprice     192983 non-null float64
numunits       192983 non-null float64
city           192964 non-null object
state          223902 non-null object
hhmedincome    32038 non-null float64
purban         32038 non-null float64
gender         173355 non-null object
dtypes: float64(4), object(5)
memory usage: 31.6+ MB

In [57]:
NewData.dropna(subset = ['gender'])

,zipcode,paymenttype,totalprice,numunits,city,state,hhmedincome,purban,gender
174596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
68239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
10203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
68099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
173506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
51886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
143249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
58153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
138942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
67973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
154970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
167813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
63059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
16268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
36670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
148876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
...,...,...,...,...,...,...,...,...,...
156555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
139076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
113739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
173751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
67968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
78130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
173750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
3127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
45929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
174268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
139779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
174256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M
163204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M

In [60]:
OrdersCustomer.dropna()

,customerid,campaignid,orderdate,city,state,zipcode,paymenttype,totalprice,numorderlines,numunits,householdid,gender,firstname
orderid,,,,,,,,,,,,,
1002854,45978,2141,13.10.2009 00:00,NEWTON,MA,2459,VI,190.00,3,3,18991234.0,M,LOUIS
1002855,125381,2173,13.10.2009 00:00,NEW ROCHELLE,NY,10804,VI,10.00,1,1,36173848.0,M,ANTHONY
1002857,130980,2173,14.10.2009 00:00,E RUTHERFORD,NJ,7073,AE,10.00,1,1,36173923.0,F,MARIA
1002887,106150,2173,15.10.2009 00:00,ROWAYTON,CT,6853,AE,10.00,1,1,36185316.0,M,CRAIG
1002888,27805,2173,15.10.2009 00:00,INDIANAPO11,IN,46240,VI,10.00,1,1,18368062.0,F,SUSAN
1002889,24546,2173,15.10.2009 00:00,PLEASANTVILLE,NY,10570,MC,10.00,1,1,19319923.0,M,JOE
1002890,43783,2173,15.10.2009 00:00,EAST STROUDSBURG,PA,18301,DB,29.68,2,2,19130968.0,M,ROBERT
1003004,15688,2173,15.10.2009 00:00,ROUND LAKE PARK,IL,60073,DB,19.68,1,1,20542726.0,M,BILL
1003044,130970,2141,22.11.2010 00:00,BLOOMFIELD,NJ,7003,AE,10.00,1,1,36191206.0,F,WINIFRED
1003045,40048,2173,22.11.2010 00:00,SPRINGFIELD,IL,62704,MC,10.00,1,1,20748536.0,F,ANA
1003046,21927,2141,22.11.2010 00:00,WACO,TX,76710,MC,17.05,1,1,19086510.0,F,JUNE
1003075,130971,2141,22.11.2010 00:00,FAIRFIELD,NJ,7004,MC,59.80,1,4,36177308.0,M,ROBERT
1003490,104796,2141,15.02.2011 00:00,LIVINGSTON,NJ,7039,DB,0.00,1,2,19876032.0,M,RICHARD
1003491,39415,2141,22.11.2010 00:00,DELRAY BEACH,FL,33445,VI,18.00,1,1,19344256.0,F,CYNTHIA
1003492,39734,2204,22.11.2010 00:00,PHOENIXVILLE,PA,19460,OC,20.00,1,2,20897216.0,F,JOANNE
1003493,49066,2141,22.11.2010 00:00,STATEN ISLAND,NY,10312,MC,34.90,3,3,20204876.0,M,WILLIAM
1003494,103152,2141,22.11.2010 00:00,EAST QUOGUE,NY,11942,MC,36.00,1,2,36177320.0,F,S.
1003495,18815,2173,22.11.2010 00:00,NEW YORK,NY,10022,AE,30.00,1,3,19062413.0,F,ESTHER
1003496,109344,2173,22.11.2010 00:00,HONOLULU,HI,96825,OC,30.00,1,3,36177364.0,M,CHRISTOPHER
1003720,127098,2173,23.11.2010 00:00,BRIDGEWATER,NJ,8807,AE,22.05,1,1,36210297.0,M,ARTHUR
1003721,110960,2095,23.11.2010 00:00,FLORAL PARK,NY,11001,VI,19.12,1,1,36177150.0,F,CAROL
1003722,48793,2173,23.11.2010 00:00,ROCHESTER,NY,14607,MC,10.00,1,1,19348337.0,M,JOHN
1003723,79549,2173,23.11.2010 00:00,EAST MEADOW,NY,11554,VI,24.95,2,2,36188368.0,M,JOHN
1003724,108423,2141,23.11.2010 00:00,EAST HAMPTON,NY,11937,VI,18.00,1,1,19576691.0,F,SHARRON
1003753,107887,2141,23.11.2010 00:00,SAN ANTONIO,TX,78209,MC,18.00,1,1,36183725.0,M,PATRICK
1003754,107888,2173,23.11.2010 00:00,NEW YORK,NY,10010,AE,22.05,1,1,36202098.0,M,JASON
1003755,1795,2141,23.11.2010 00:00,MONTCLAIR,NJ,7042,MC,22.05,1,1,19530965.0,M,FORT
1003756,106151,2173,23.11.2010 00:00,POUGHKEEP08,NY,12603,MC,30.00,1,3,36183710.0,M,SHELDON
1003949,43698,2141,23.11.2010 00:00,HILLSDALE,NJ,7642,AE,10.00,1,1,18325444.0,F,CAROLYN
1003978,106152,2141,23.11.2010 00:00,NEW YORK,NY,10017,OC,45.00,1,2,36183726.0,F,LISA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1643124,188936,2236,19.09.2016 00:00,LIVINGSTON,NJ,7039,MC,119.95,1,1,72589578.0,F,ALISON
1643125,69769,2141,19.09.2016 00:00,OSSINING,NY,10562,VI,215.90,2,2,18522465.0,F,MARY
1643126,167676,2173,19.09.2016 00:00,BROOKLYN,NY,11215,AE,89.90,2,2,22965923.0,M,LOUIS
1643127,188920,2141,19.09.2016 00:00,MANAHAWKIN,NJ,8050,VI,20.65,1,1,20603065.0,F,GAIL
1643128,61022,2141,19.09.2016 00:00,DENVER,CO,80210,MC,34.10,3,3,19458287.0,M,STEPHEN
1643129,189519,2141,19.09.2016 00:00,NOVATO,CA,94947,MC,12.55,1,1,19561740.0,M,MICHAEL
1643130,189520,2236,19.09.2016 00:00,LANCASTER,PA,17601,OC,44.95,1,1,72589528.0,F,HEATHER
1643132,140798,2204,18.09.2016 00:00,CINCINNATI,OH,45206,VI,9.95,1,1,50677912.0,M,WILLIAM
1643151,188931,2141,18.09.2016 00:00,IRVINGTON,NY,10533,MC,89.96,1,1,72589529.0,M,HOWARD
1643153,188924,2236,18.09.2016 00:00,DAVIS,CA,95616,VI,13.09,3,2,72589596.0,F,LYNN
1643154,188921,2236,18.09.2016 00:00,MEBANE,NC,27302,VI,16.95,1,1,59060122.0,M,PAUL
1643155,65787,2141,18.09.2016 00:00,VERNON,CT,6066,VI,16.14,1,1,18994849.0,M,JAMES
1643156,154,2141,19.09.2016 00:00,LAURALTON,NY,11413,AE,20.65,1,1,20569442.0,F,CAROLINE
1643133,186977,2141,14.09.2016 00:00,NEW YORK,NY,10024,AE,13.05,1,1,68607999.0,F,JUDITH
1643134,22262,2141,16.09.2016 00:00,WILTON,CT,6897,VI,17.95,1,1,19510255.0,M,MICHAEL
1643136,189531,2204,16.09.2016 00:00,SEATTLE,WA,98109,VI,2.05,1,1,72589593.0,F,CYNTHIA
1643137,189518,2173,17.09.2016 00:00,MEMPHIS,TN,38116,DB,2.05,1,1,72590325.0,F,LISALA
1643138,188959,2173,19.09.2016 00:00,ATLANTIC CITY,NJ,8401,VI,22.95,1,1,72589527.0,M,JEROME
1643139,188925,2236,19.09.2016 00:00,ANTIOCH,TN,37013,DB,0.00,1,1,19599461.0,F,REBECCA
1643140,53945,2236,19.09.2016 00:00,WEST MILFORD,NJ,7480,DB,0.00,1,1,25406197.0,M,MARTIN
1643141,188927,2173,19.09.2016 00:00,NEW YORK,NY,10021,AE,18.95,2,2,72589594.0,M,JAY
1643142,188939,2236,19.09.2016 00:00,BOTHELL,WA,98021,VI,16.95,1,1,72589472.0,F,MARTHA
1643143,18715,2141,19.09.2016 00:00,ST. PAUL,MN,55108,VI,20.66,1,1,20551123.0,M,TODD
1643144,188935,2141,19.09.2016 00:00,TOLEDO,OH,43606,MC,2.05,1,1,19377055.0,F,JULIA
1643145,163203,2141,19.09.2016 00:00,EAST SEAUKET,NY,11733,AE,107.95,1,1,19352854.0,M,LEO
1643146,188937,2236,19.09.2016 00:00,LIVINGSTON,NJ,7039,MC,119.95,1,1,72589578.0,F,ALISON
1643148,189550,2141,18.09.2016 00:00,NYC,NY,11385,MC,20.65,1,1,72590477.0,F,MARYLOU
1643149,188938,2236,18.09.2016 00:00,HOUSTON,TX,77070,VI,16.95,1,1,30080748.0,F,JUDITH
1643150,189517,2236,18.09.2016 00:00,PITTSBURGH,PA,15234,MC,22.95,1,1,72590478.0,F,JANE
1643157,167434,2141,20.09.2016 00:00,NEW YORK,NY,10027,MC,49.45,1,1,22912423.0,F,JULIA

In [62]:
cd1 = OrdersCustomer.join(zipcensus, on='zipcode')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [70]:
OrdersCustomer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192983 entries, 1002854 to 1643157
Data columns (total 13 columns):
customerid       192983 non-null int64
campaignid       192983 non-null int64
orderdate        192983 non-null object
city             192964 non-null object
state            191864 non-null object
zipcode          192837 non-null object
paymenttype      192983 non-null object
totalprice       192983 non-null float64
numorderlines    192983 non-null int64
numunits         192983 non-null int64
householdid      189559 non-null float64
gender           173355 non-null object
firstname        186644 non-null object
dtypes: float64(2), int64(4), object(7)
memory usage: 20.6+ MB

In [64]:
zipcensus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32038 entries, 601 to 99950
Columns: 112 entries, state to hhother
dtypes: float64(90), int64(18), object(4)
memory usage: 27.6+ MB

In [92]:
x = OrdersCustomer.set_index('zipcode')
cd1 = zipcensus.join(x, on='zipcode')

ValueError: columns overlap but no suffix specified: Index(['state'], dtype='object')

In [117]:
orders1 = pd.read_csv('orders1.txt', sep='\t',index_col=0)
OrdersCustomer = orders1.join(customer, on='customerid')
k = OrdersCustomer.join(zipcensus, on='zipcode', how='left', lsuffix='_left', rsuffix='_right')
n = k.dropna()
NewData1 = DataFrame(n, columns=['zipcode', 'paymenttype', 'totalprice', 'numunits', 'city', 'state_right', 'state_right', 'hhmedincome', 'purban', 'gender'])
NewData1

,zipcode,paymenttype,totalprice,numunits,city,state_right,state_right,hhmedincome,purban,gender
orderid,,,,,,,,,,
1003685,10004,VI,17.95,1,NEW YORK,NY,NY,101868.0,1.000000,F
1003576,10004,AE,22.05,1,NEW YORK,NY,NY,101868.0,1.000000,M
1004077,10004,DB,10.00,1,NEW YORK,NY,NY,101868.0,1.000000,M
1000147,10004,AE,10.00,1,NEW YORK,NY,NY,101868.0,1.000000,F
1002147,10004,AE,22.05,1,NEW YORK,NY,NY,101868.0,1.000000,M
1008498,10004,VI,14.95,1,NEW YORK,NY,NY,101868.0,1.000000,F
1005823,10004,MC,29.68,2,NEW YORK,NY,NY,101868.0,1.000000,M
1016816,10004,AE,175.00,1,NEW YORK,NY,NY,101868.0,1.000000,M
1015973,10004,AE,59.76,5,NEW YORK,NY,NY,101868.0,1.000000,M
1052206,10004,AE,19.57,1,NEW YORK,NY,NY,101868.0,1.000000,M
1061833,10004,MC,22.05,1,NEW YORK,NY,NY,101868.0,1.000000,M
1071777,10004,VI,337.50,1,NEW YORK,NY,NY,101868.0,1.000000,F
1058119,10004,MC,39.95,1,NEW YORK,NY,NY,101868.0,1.000000,M
1017691,10004,AE,800.00,1,NEW YORK,NY,NY,101868.0,1.000000,M
1018539,10004,AE,20.00,2,NEW YORK,NY,NY,101868.0,1.000000,F
1023377,10004,AE,22.05,1,NEW YORK,NY,NY,101868.0,1.000000,F
1040167,10004,VI,780.00,4,NEW YORK,NY,NY,101868.0,1.000000,M
1023268,10004,MC,22.05,1,NEW YORK,NY,NY,101868.0,1.000000,F
1031009,10004,DB,350.00,2,NEW YORK,NY,NY,101868.0,1.000000,M
1026086,10004,AE,22.05,1,NEW YORK,NY,NY,101868.0,1.000000,M
1034114,10004,AE,17.08,1,NEW YORK,NY,NY,101868.0,1.000000,M
1024154,10004,MC,175.00,1,NEW YORK,NY,NY,101868.0,1.000000,M
1032307,10004,DB,14.95,1,NEW YORK,NY,NY,101868.0,1.000000,M
1028771,10004,AE,10.00,1,NEW YORK,NY,NY,101868.0,1.000000,M
1037502,10004,AE,17.00,1,NEW YORK,NY,NY,101868.0,1.000000,M
1029843,10004,AE,61.65,3,NYC,NY,NY,101868.0,1.000000,M
1043200,10004,MC,22.05,1,NEW YORK,NY,NY,101868.0,1.000000,F
1037748,10004,VI,38.24,2,NEW YORK,NY,NY,101868.0,1.000000,M
1040012,10004,AE,1290.00,3,NEW YORK,NY,NY,101868.0,1.000000,M
1030974,10004,AE,20.00,2,NEW YORK,NY,NY,101868.0,1.000000,M
...,...,...,...,...,...,...,...,...,...,...
1586204,72644,VI,40.85,3,LEAD HILL,AR,AR,27679.0,0.000000,M
1058105,79922,AE,173.55,1,EL PASO,TX,TX,61599.0,0.972817,F
1098552,79922,AE,18.00,1,EL PASO,TX,TX,61599.0,0.972817,M
1121003,79922,MC,6.95,1,EL PASO,TX,TX,61599.0,0.972817,F
1149989,79922,AE,44.90,2,EL PASO,TX,TX,61599.0,0.972817,F
1234993,79922,VI,44.95,1,EL PASO,TX,TX,61599.0,0.972817,F
1421236,79922,VI,6.99,1,EL PASO,TX,TX,61599.0,0.972817,F
1553158,79922,AE,17.95,1,EL PASO,TX,TX,61599.0,0.972817,M
1585143,89439,VI,22.95,1,VERDI,NV,NV,57283.0,0.713178,M
1003765,99362,VI,10.00,1,WALLA WALLA,WA,WA,35841.0,0.924323,F
1090162,99362,MC,63.00,2,WALLA WALLA,WA,WA,35841.0,0.924323,M
1084697,99362,VI,11.65,1,WALLA WALLA,WA,WA,35841.0,0.924323,M
1089278,99362,VI,110.95,2,WALLA WALLA,WA,WA,35841.0,0.924323,M
1084276,99362,MC,16.95,1,WALLA WALLA,WA,WA,35841.0,0.924323,M
1104634,99362,VI,16.00,1,WALLA WALLA,WA,WA,35841.0,0.924323,F
1090973,99362,VI,16.00,1,WALLA WALLA,WA,WA,35841.0,0.924323,M
1119691,99362,VI,69.95,1,WALLA WALLA,WA,WA,35841.0,0.924323,F
1122990,99362,VI,26.00,1,WALLA WALLA,WA,WA,35841.0,0.924323,F
1151495,99362,VI,74.85,3,WALLA WALLA,WA,WA,35841.0,0.924323,M
1266005,99362,MC,306.00,1,WALLA WALLA,WA,WA,35841.0,0.924323,M
1299044,99362,VI,14.00,3,WALLA WALLA,WA,WA,35841.0,0.924323,F
1352144,99362,VI,9.94,2,WALLA WALLA,WA,WA,35841.0,0.924323,F
1354116,99362,DB,0.00,1,WALLA WALLA,WA,WA,35841.0,0.924323,F
1418184,99362,VI,94.21,6,WALLA WALLA,WA,WA,35841.0,0.924323,M
1467133,99362,VI,13.45,1,WALLA WALLA,WA,WA,35841.0,0.924323,M
1478164,99362,AE,18.95,1,WALLA WALLA,WA,WA,35841.0,0.924323,M
1492158,99362,AE,612.00,2,WALLA WALLA,WA,WA,35841.0,0.924323,M
1516214,99362,AE,12.95,1,WALLA WALLA,WA,WA,35841.0,0.924323,F
1517165,99362,VI,20.25,1,WALLA WALLA,WA,WA,35841.0,0.924323,M
1641136,99362,VI,17.05,2,WALLAWALLA,WA,WA,35841.0,0.924323,M

In [111]:
y = OrdersCustomer.dropna()
z = zipcensus.dropna()
k = y.join(z, on='zipcode')

ValueError: columns overlap but no suffix specified: Index(['state'], dtype='object')

In [83]:
from decimal import Decimal
orders1['zipcode'] = orders1.zipcode.astype('int64')

ValueError: invalid literal for int() with base 10: 'M5R3R'

In [ ]:
zipcensus = pd.read_csv('zipcensus.txt', sep='\t', index_col=0)
zipcounty = pd.read_csv('zipcounty.txt', sep='\t', index_col=0, encoding='latin-1')
customer = pd.read_csv('customer.txt', sep='\t',index_col=0)
orders1 = pd.read_csv('orders1.txt', sep='\t',index_col=0)

OrdersCustomer = orders1.join(customer, on='customerid')
k = OrdersCustomer.join(zipcensus, on='zipcode', how='left', lsuffix='_left', rsuffix='_right')
n = k.dropna()
NewData1 = DataFrame(n, columns=['zipcode', 'paymenttype', 'totalprice', 'numunits', 'city', 'state_right', 'state_right', 'hhmedincome', 'purban', 'gender'])
NewData1